#home{
    padding: 10px 10px 10px 10px;
   
}

.sticky-top {
    background-color: var(--bs-light);
}

#hstyle {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 70px;
  text-align: center;
}

#about {
  width: 100%; 
  height: auto;
  background-color: black;
  border: none; 
  text-align: center;
}

#intro{
    font-size: 72px;
    font-family:Copperplate, Papyrus, fantasy;
}

#imgtcs{
  height: auto;
}

#experience{
    padding-bottom: 30px;
}

.heading{
    color: var(--bs-dark);
    font-weight: bold;
    text-align: center;
}

.carousel-inner {
  height: auto;
}
.carousel-caption {
 position: absolute;
}

#achievements{
  margin-top: 15px;
}

li{
  margin-top: 25px;
  list-style: none;
}


nav {
    float: center;
    padding-top: 25px;

}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li{
    display: inline-flex;
    margin-left: 30px;
}
nav ul li a {
    color: var(--bs-dark);
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover {
    color: var(--bs-info);
}
.social-icon{
    color: var(--bs-dark);
    font-size: 24px;
    margin: 0 10px;
}

